<script setup lang="ts">
useHead({
  title: "Collections | shepard",
});
</script>

<template>
  <div :style="{ display: 'flex', justifyContent: 'center' }">
    <CollectionListPage />
  </div>
</template>
