<template>
  <b-spinner class="centered" type="grow" label="loading"></b-spinner>
</template>

<style scoped>
.centered {
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}
</style>
