<script setup lang="ts"></script>

<template>
  <!-- Main Content -->
  <v-container>
    <v-row no-gutters>
      <v-col cols="12">
        <v-card class="mx-auto my-5" elevation="4">
          <v-card-title>Welcome to shepard</v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
