<template>
  <div class="view">
    <h1>Error in authentication</h1>
    This could be a false positive. Give it a try and visit the
    <b-link :to="{ name: 'Explore' }">main page</b-link>.
  </div>
</template>
